<header class="bg-blue-600 text-white py-4 shadow-md">
  <div class="max-w-7xl mx-auto px-6 flex justify-between items-center">
   
    <div class="text-2xl font-bold">
      <a routerLink = "/" class="text-white hover:text-gray-200">MyApp</a>
    </div>

    
    <nav>
      <ul class="flex space-x-6">
        <li>
          <a routerLink="/" class="text-white hover:text-gray-200">Home</a>
        </li>
        <li>
          <a routerLink="/about" class="text-white hover:text-gray-200">About</a>
        </li>
        <li>
          <a routerLink="/contact-us" class="text-white hover:text-gray-200">Contact Us</a>
        </li>
        <li>
          <a routerLink="/login" class="text-white hover:text-gray-200">Login</a>
        </li>
        <li>
          <a routerLink="/register" class="text-white hover:text-gray-200">Register</a>
        </li>
      </ul>
    </nav>
  </div>
</header>